div#edit-field-birthday-wrapper h4{color:black;}
.attribute-widgets{display:none;}a.button{display:none;}.block-hide div#edit-purchased-entity-wrapper{display:block!important;}
.views-field.views-field-field-related-products .field-content{display:flex;}
