.webform-ajax-form-wrapper{display:none;}a[href="#form"]{background:#1abc9c;padding:10px 15px;color:white;}a[href="#review"]{background:#1abc9c;padding:10px 15px;color:white;}.field.field--name-field-inquiry.field--type-link.field--label-hidden.field__item{margin-top:20px;margin-bottom:20px;}
div#edit-field-birthday-wrapper h4{color:black;}
.commerce-order-item-add-to-cart-form a.button{display:none;}
.block-hide .field--name-field-image{display:none;}.block-hide .attribute-widgets{display:none;}.block-hide .field--name-price{display:none;}
.attribute-widgets{display:none;}
.views-field.views-field-field-related-products .field-content{display:flex;}
